<div class="card-wrapper">
  <ng-container *ngIf="sorted != undefined; else pending">
    <ng-container *ngFor="let weatherData of sorted">
      <mat-card class="card"
                [style.backgroundColor]="'hsl(' + (30 + 240 * (30 - (((this.weatherData?.main.temp)-273.15))) / 60) + ', 70%, 50%'">
          <mat-card-header>
            <mat-card-title>{{weatherData?.name}}</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="http://openweathermap.org/img/wn/{{weatherData?.weather[0].icon }}@2x.png">
          <h2>{{((this.weatherData?.main.temp) - 273.15).toFixed(0)}} °C </h2>
          <mat-card-content>
            <h3>{{weatherData?.weather[0].description}}</h3>
            <h4>{{weatherData?.sys.country}}</h4>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="goToFlight(weatherData?.name)">BOOK FLIGHT</button>
          </mat-card-actions>
      </mat-card>
    </ng-container>
  </ng-container>
</div>

<ng-template #pending>
  <div class="spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>


